<h1>admin/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">商品編集</span>
</div>

<div class="col-md-9 mx-auto">
  <%= render 'admin/items/form', item: @item, genres: @genres %>
</div>

<p>Find me in app/views/admin/homes/<%= action_name %>.html.erb</p>