<h1>admin/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">商品名一覧</span>
  <span class="ml-auto">
    <%= link_to "商品の追加", root_path, class: "btn btn-sm btn-success" %>
  </span>
</div>

<div class="col">
  <table class='table'>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% 20.times do %>
        <%# レコードごとにリンクを付ける場合はJSを使う %>
        <tr>
          <td>id</td>
          <td>name</td>
          <td>price</td>
          <td>genre</td>
          <td>status</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%
=begin %>
  <%# kaminariを用いてページャを実装する %>
  <div class="mt-5 d-flex justify-content-center"><%= paginate post_images, theme: 'bootstrap-5' %></div>
<%
=end %>

<p>Find me in app/views/admin/homes/<%= action_name %>.html.erb</p>