<h1>admin/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">商品新規登録</span>
</div>

<div class="col-md-9 mx-auto">
  <%= render 'admin/homes/item_form' %>
</div>

<p>Find me in app/views/admin/homes/<%= action_name %>.erb</p>