<div class="d-flex align-items-center p-3">
  <span class="page-title">配送先編集</span>
</div>

<div class="col-8 mx-auto">
  <%= render "public/address/form", address: @address, url_path: address_path %>
</div>
