<h1>public/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">配送先編集</span>
</div>

<div class="col-8 mx-auto">
  <%= render "public/address/form", address: @address, url_path: address_path %>
</div>

<p>Find me in app/views/public/homes/<%= action_name %>.html.erb</p>