<div class="bg-light text-center border border-dark">
  <p class="border-dark border-bottom py-2 mb-1">ジャンル一覧</p>
  <ul class="list-group list-group-flush text-left">
    <% 10.times do %>
      <li class="my-1 px-2">
        <%= link_to root_path do %>
          <span>ジャンル名</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
