<div class="text-center border border-dark bg-light">
  <p class="border-dark border-bottom py-2 mb-1">ジャンル一覧</p>
  <ul class="list-group list-group-flush text-left">
    <% genres.each do |genre| %>
      <li class="my-1 px-2">
        <%= link_to root_path do %>
          <span><%= genre.name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
