<h1>public/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">About</span>
</div>

<div class="d-flex text-center justify-content-center my-3">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。<br>
</div>

<%# 画像挿入用 %>
<div class="bg-primary" style="height: 380px">
</div>

<p>Find me in app/views/public/homes/<%= action_name %>.html.erb</p>