<h1>admin/homes#<%= action_name %></h1>

<div class="d-flex align-items-center p-3">
  <span class="page-title">ジャンル編集</span>
</div>

<div class="col mt-4">
  <%= render 'admin/genres/form', genre: @genre %>
</div>

<p>Find me in app/views/admin/homes/<%= action_name %>.html.erb</p>