<div class="container p-5 px-sm-0">
  <div class="col-md-8 mx-auto">

    <div class="d-flex align-items-center p-3">
      <span class="page-title">管理者側ルートページ</span>
    </div>

    <div class="d-flex text-center justify-content-center my-3">
      ここは開発者向け管理者側のルートページです。</br>
      試験的なリンクや画面の実装などにご利用下さい。
    </div>

    <%= link_to "Sign_out", destroy_admin_session_path, method: :delete %>
  </div>
</div>