<h1>admin/homes#<%= action_name %></h1>

<div class="container p-5 px-sm-0">
  <div class="col-md-8 mx-auto">

    <div class="d-flex align-items-center p-3">
      <span class="page-title">Top</span>
    </div>

    <%= link_to "Sign_out", destroy_admin_session_path, method: :delete %>
  </div>
</div>

<p>Find me in app/views/admin/homes/<%= action_name %>.html.erb</p>