@use '~bootstrap/scss/bootstrap';

main .container {
  // background-color: white;
  // background-color:khaki;
}

.nav-link {
  background-color: aliceblue;
  color: #212529;
  border-color: #212529;
  border-radius: .3rem;
}

.page-title {
  background-color:whitesmoke;
  font-size: 22px;
  padding: 0 25px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  margin-bottom: 0;
}

.actions {
  display: flex;
  justify-content: center;
}

.table td {
  vertical-align: middle;
}

thead {
  background-color: #edf2f7;
}

tbody {
  background-color: white;
}

.table tr:last-child td {
  border-bottom: solid 1px #dee2e6;
}

.list-group {
  list-style: none;
}

.border {
  border-radius: 5px;
}

.top-iamge {
  height: 400px;
}

.top-message {
  position:  absolute;
}