<h1>public/homes#<%= action_name %></h1>

<div class="d-flex align-items-center justify-content-center p-5">
  <span class="page-title my-5">ご注文ありがとうございました！</span>
</div>

<p>Find me in app/views/public/homes/<%= action_name %>.html.erb</p>