<li class="mx-2">
<%= link_to about_path,class: 'nav-link btn btn-sm' do %>
  <span>About</span>
<% end %>
</li>
<li class="mx-2">
<%= link_to items_path, class: 'nav-link btn btn-sm' do %>
  <span>商品一覧</span>
<% end %>
</li>
<li class="mx-2">
<%= link_to new_customer_registration_path, class: 'nav-link btn btn-sm' do %>
  <span>新規登録</span>
<% end %>
</li>
<li class="mx-2">
<%= link_to new_customer_session_path, class: 'nav-link btn btn-sm' do %>
  <span>ログイン</span>
<% end %>
</li>